html body div {
  padding: 0%;
  box-sizing: border-box;
}
html body {
  background: linear-gradient(0deg, var(--color--2) 75%, var(--color--3) 0%);
  background-repeat: no-repeat;
  background-size: 1000vh 135vh;
}
body {
  width: 60%;
  direction: rtl;
  margin: 0 20%;
}
* {
  text-align: left;
  --font--a: "Montserrat-Medium";
  --font--b: "Montserrat-Black", sans-serif;
  --color--1: #202020;
  --color--2: #ececec;
  --color--3: #fdfdfd;
  --color--4: #8d00a0;
  --font-h: 65px;
  --font-larg: 36px;
  --font-text: 22px;
  --font-small: 15px;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../font/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../../font/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
